$primary: #489fdf;
$secondary: #67899c;
$success: #addc91;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: lighten($primary, 40%);
}

.btn,
.btn:active,
.btn:focus {
  box-shadow: none;
  outline: none;
}

.form-control {
  border-width: 1px;
  border-color: lighten($primary, 15%);
}

.form-control:focus {
  border-color: $primary;
}
